<!--------------------- Hero --------------------->
<section>
    <div class="hero shadow"
         style="background-image: url('{{ url_for('static', filename='img/Flask_logo.png') }}')">
        <div class="container">

            <div class="hero-title-text text-center">
                <h1 class="big-heading mb-5">Flask Project</h1>
                <div class="homepage-btn-group">
                    <a href="{{ url_for('blog.view_all') }}">
                        <button class="btn btn-solid-yellow btn-lg shadow" type="button">View blog</button>
                    </a>
                    <a href="#about">
                        <button class="btn btn-solid-yellow btn-lg" type="button">About me</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>