<footer id="footer" class="white-section p-3">
  <div class="text-center">
    <p>
      <a href="https://www.facebook.com/">
        <i class="text-black p-4 fa fa-facebook" aria-hidden="true"></i>
      </a>

      <a href="https://www.instagram.com/">
        <i class="text-black p-4 fa fa-instagram" aria-hidden="true"></i>
      </a>

      <a href="{{ url_for('main.contact') }}"><i class="text-black p-4 fa fa-envelope" aria-hidden="true"></i></a>
    </p>
    <p class="text-secondary">Copyright &copy; {{ current_year }}</p>
  </div>
</footer>