{% extends "base.html" %}
{% block content %}
<section class="color-section text-dark">
    <div class="container center-screen">

        <form class="form-signin" action="" method="POST">
            <h1 class="heading navy">Sign In</h1>
            <hr class="hr-navy">
            {{ form.hidden_tag() }}

            {{ form.username.label }}<br>
            {{ form.username(size=32, class_="form-control") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(size=32, class_="form-control") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            <p>
                {{ form.remember_me }} {{ form.remember_me.label }}
            </p>
            <p>
                {{ form.submit(class_="btn btn-lg btn-solid-navy shadow m-3") }}
            </p>
            <p>New User? <a href="{{ url_for('auth.register') }}">Click to register.</a></p>
            <p>Forget password? <a href="{{ url_for('auth.reset_password_request') }}">Click to reset.</a></p>
        </form>

    </div>
</section>
{% endblock %}